<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="solve debts">
    <meta name="author" content="siddhant">

    <title>udhaar: simply indian</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="style_h.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log Out</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted"> Uudhar </h3>
      </div>

      <div class = "row" >
        <div class = "col" >
          <a href="newgroup.html" style ="float:right; margin:2rem" class="btn btn-outline-success"> Create New Group</a>
        </div>
      </div>

      <div class="card" style = "margin:1rem">
        <div class="card-header">
          No Groups!
        </div>
        <div class="card-body">
          <p class="card-text">You don't seem to have any friends group yet.</p>
        </div>
      </div>

      <div class="card" style = "margin:1rem">
        <div class="card-header">
          Group 1
        </div>
        <div class="card-body">
          <p class="card-text"> Carbon, Nitrogen, Helium...
            <a href="info.html"  class="btn btn-outline-info" style="float:right">Info</a>

          </p>
        </div>
      </div>

      <div class="card" style = "margin:1rem">
        <div class="card-header">
          Group 3
        </div>
        <div class="card-body">
          <p class="card-text"> Kirito, Al, Lelouch...
          <button type="button" class="btn btn-outline-info" style="float:right">Info</button>
          </p>
        </div>
      </div>

      <div class="card" style = "margin:1rem">
        <div class="card-header">
          Group 3
        </div>
        <div class="card-body">
          <p class="card-text"> Kirito, Al, Lelouch...
          <button type="button" class="btn btn-outline-info" style="float:right">Info</button>
          </p>
        </div>
      </div>

      <div class="card" style = "margin:1rem">
        <div class="card-header">
          Group 3
        </div>
        <div class="card-body">
          <p class="card-text"> Kirito, Al, Lelouch...
          <button type="button" class="btn btn-outline-info" style="float:right">Info</button>
          </p>
        </div>
      </div>

      <div class="card" style = "margin:1rem">
        <div class="card-header">
          Group 3
        </div>
        <div class="card-body">
          <p class="card-text"> Kirito, Al, Lelouch...
          <button type="button" class="btn btn-outline-info" style="float:right">Info</button>
          </p>
        </div>
      </div>




    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
